@media screen and (min-width: 577px) and (max-width: 992px) {
    .navigation {
        padding: 20px;
    }
    .welcome {
        margin: 60px 20px;
    }
    .find-destination {
        margin: 40px 20px;
    }
    .blogs .container {
        grid-template-rows: repeat(6, 1fr);
        height: auto;
    }
    .blogs .container .blog{
        height: 400px;
        padding: 10px;
    }
    .blogs .container .blog p{
        display: none;
    }
    .featured-blog1 {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    .featured-blog2 {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: grid;
        gap: 10px;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .featured-blog3 {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
    .featured-blog4 {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .featured-blog5 {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }
    .featured-blog6 {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .descount {
       padding: 60px 40px;
    }
    .footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left:  30px;
     }
}

@media (max-width: 800px) {
    .navigation {
        position: relative;
        padding: 16px 10px;
    }
    .navigation .contact-number {
        white-space: nowrap;
    }
    .toggle-icon {
        display: block;
    }
    .navigation .navlinks {
        height: 0;
        overflow: hidden;
    }
    .navigation .navlinks.active {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background: var(--black);
        transition: var(--tran3);
        height: 200px;
    }
    .navigation .navlinks.active ul {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    
    .banner .title {
        font-size: 2.5em;
    }
    .welcome {
        margin: 40px 10px;
    }
    .welcome .welcome-card {
        grid-template-columns: repeat(1, 1fr);
    }
    .welcome .welcome-card .card:nth-child(1), .welcome-card .card:nth-child(3) {
        display: none;
    }
    .find-destination .place-card {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }   
    .testimonial {
        background-image: none;
    }
    .testimonial .client-stays {
        width: 100%;
        padding: 0 15px;
    }
    .testimonial .client-stays img {
        width: 100px;
        height: 100px;
    }
    .descount .container {
        flex-direction: column;
        gap: 30px;
        padding: 0 25px;
        text-align: center;
    }
    .descount h2{
        font-size: 1.3em;
    }
    .descount .book-now-btn {
        padding: 10px 25px;
    }
    .footer {
        margin-top: 50px;
    }
    .footer .container {
        flex-direction: column;
        padding-left: 20px;
        
    }
}





@media (min-aspect-ratio: 19/9) {
    .background-vidoe {
        height: auto;
        width: 100%;
    }
}
@media (max-aspect-ratio: 19/9) {
    .background-vidoe {
        height: 100%;
        width: auto;
    }
}